.show {
    display: inline-block;
    float: left;
    width:100%;
    height:40vh;
 
}
.content_container {
    display: inline-block;
    margin: 60px 20px 20px 20px;
    background-color: blueviolet;
    box-sizing: content-box;
    width: calc(100% - 40px);
}

    .card {
        margin: 20px;
        width: calc(100% - 40px);
    display: inline-block;
    }

        .card_content {
            display: inline-block;
            float: left;
            width: 100%;
        }
            .card_left {
                display: inline-block;
                float: left;
                width:15%;
                height: 100px;
            }
            .card_mid {
                display: inline-block;
                float: left;
                margin: 0 10px;
                width:calc(65% - 20px);
                /* height: 100px; */
                display: inline-block;
                float: left;
            }
            .card_right {
                display: inline-block;
                float: left;
                width:  20%;
                height: 120px;
                background-color: yellow;
            }
        .see_more {
            display: inline-block;
            float: left;
            width: 100%;
            text-align: center;
        }
            .see_more:hover {
                color:red;
                font-weight: 900;
            }
            .see_more:active {
                color:green;
                font-weight: 900;
            }
            .see_more_btn {
                
            }
    .card_bottom{
        width: 100%;
        height:100px;
    }
        .card_bottom_active{
        height:100px;
        transition:  0.5s;
        transition-timing-function: ease-in-out;
    }
    .card_bottom_hidden{
        height:0;
        transition:  0.5s;
        transition-timing-function: ease-in-out;
    }
        #card_bottom_content{
            display: inline-block;
            float: left;
            width: 100%;
          
 
        }
        .card_bottom_content_active{
            display: inline-block;
            visibility: visible;
            height: 100px;
            transition-delay: 0.5s;   
           
            background-color: blue;
            transition-timing-function: ease-in-out;
        }
        .card_bottom_content_hidden{
            height: 0;
            display: none;
            visibility: hidden;
        }
        #card_bottom_left{
            display: inline-block;
            float: left;  
            width: 15%;
        }
            #our_advices{
                    
            }
        #card_bottom_mid{
            display: inline-block;
            float: left;
            width:calc(65% - 20px);
        }

            #river_specifications{

            }
        #card_bottom_right{
            display: inline-block;
            float: left;
            width:  20%;
        }

    .card_profile_photo {
        display: inline-block;
        float: left;
        width:100%;
        height: 50px;
        background-color: red;
    }
    .card_reach_out {
        display: inline-block;
        float: left;
        width:100%;
        height: 50px;
        margin: 10px;
    }
        #card_reach_out_btn{
            display: inline-block;
            float: left;
            width:70%;
            background-color: aqua;
            margin: 10px;
        }
    .card_name {
        display: inline-block;
        float: left; 
    width: 65%;
    }
    .card_weather {
        display: inline-block;
        float: left;  
        width: 35%;
    }
    .card_summary {
        display: inline-block;
        float: left;
        width: 100%;
        margin:5px 0;
    }
    .card_thumbnails_frame {
        display: inline-block;
        float: left;
    }
        .card_thumbnails {
            display: inline-block;
            float: left;
            margin:5px;
            background-color: yellow;
            height: 40px;
            width:40px;
        }
            .card_thumbnails:hover { 
                transition:  0.2s;
                transition-timing-function: ease-in-out;
                height: 80px;
                width:80px;
            }
    .card_hidden {
        display: none;
        visibility: hidden;
    }
    .news {
        display: inline-block;
        width: 100%;
        
        text-align: center;  
    }
        .news> h1, .about> h1, .contact> h1{
            width: 100%;
            display: inline-block;
            text-align: center;  
            
        }
            .news_content{
                display: inline-block;
                text-align: justify;  
                margin: 20px ;
            }
            .news_hidden,
            .about_hidden,
            .contact_hidden {
                display: none;
                visibility: hidden;
            }
    .about_content {
        display: inline-block;
        text-align: justify;  
        margin: 20px ;
    }
    .contact_content {
        display: inline-block;
        text-align: justify;  
        margin: 20px ;
    }
